.row{
    display: -webkit-flex;
    display: flex;
}

.column{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

.content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*Product*/
h2{
    font-size: 35px;
}

/*Size*/
h3{
    font-size: 25px;
    padding: 5px;
}

/* Price */
h4{
    font-size: 25px;
    color: grey;
    padding: 5px;
}

/*Detail header*/
h5{
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 2.5px;
}

p{
    line-height: 20px;
    text-align: justify;
}

button{
    padding: 5px;
}

button a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover{
    background-color: lightgray;
}

.content a{
    text-decoration: none;
    color: black;
}

@media (max-width: 800px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}

@media (max-width: 1025px) {
    .content{
        width: 100%;
    }
}